services:
  api:
    build:
      context: .
      target: api
    container_name: api
    env_file:
      - .env
    volumes:
      - ./dbdata:/app/db
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      migrations:
        condition: service_completed_successfully
    restart: unless-stopped

  migrations:
    build:
      context: .
      target: migrations
    container_name: migrations
    volumes:
      - ./dbdata:/app/db
    env_file:
      - .env
    restart: no

  bot:
    build:
      context: .
      target: bot
    container_name: bot
    env_file:
      - .env
    depends_on:
      api:
        condition: service_started
    restart: unless-stopped
