services:
  api:
    build:
      context: .
      target: api
    container_name: api
    env_file:
      - .env
    ports:
      - "${API_PORT}:${API_PORT}"
    networks:
      - postgres
    depends_on:
      migrations:
        condition: service_completed_successfully
    restart: unless-stopped

  migrations:
    build:
      context: .
      target: migrations
    container_name: migrations
    env_file:
      - .env
    networks:
      - postgres
    depends_on:
      postgres:
        condition: service_healthy
    restart: no

  bot:
    build:
      context: .
      target: bot
    container_name: bot
    env_file:
      - .env
    networks:
      - postgres
    depends_on:
      postgres:
        condition: service_healthy
      api:
        condition: service_started
    restart: unless-stopped

  postgres:
    container_name: db
    image: postgres:16.10-alpine3.22
    volumes:
      - ./docker/postgresql.conf:/etc/postgresql.conf:ro
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - ${POSTGRES_PORT}:5432
    networks:
      - postgres
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 10G
  
volumes:
  db_data:
  pgadmin_data:
  
networks:
  postgres:
    driver: bridge
